<a class="user" href="users/<%= user.id %>">
  <div>
    <img src="<%= user.photo %>" alt="Profile picture" />
  </div>
  <div class="user-details">
    <h2><%= user.name %></h2>
    <span>Number of posts: <%= user.posts_counter %></span>
  </div>
</a>
