* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 30px auto;
}

.user div {
  width: 200px;
  min-height: 200px;
  overflow: hidden;
}

.user img {
  width: 200px;
  min-height: 200px;
  object-fit: cover;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.user img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.user-details {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  min-width: 70%;
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
}

.user-details h2 {
  font-size: 32px;
  align-self: center;
}

.user-details span {
  font-weight: 500;
  font-size: 20px;
  align-self: flex-end;
}

.user-infor {
  display: flex;
  flex-direction: column;
}

.user-bio {
  margin: 30px 75px;
  padding: 30px 15px;
}

.user-bio h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.user-posts {
  display: flex;
  flex-direction: column;
  margin: 10px 75px;
}

.user-posts li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 15px;
  margin-block: 15px;
}

.user-posts li h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.user-posts li .user-count {
  position: relative;
  text-align: end;
  justify-self: flex-end;
  margin-block: 10px;
}

#width-link {
  width: 97%;
}

.user-button {
  justify-self: center;
  align-self: center;
  margin-block: 30px;
  margin-inline: auto;
  background: #3f414b;
  color: rgb(201, 216, 245);
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.user-button:hover {
  background-color: rgb(201, 216, 245);
  color: #3f414b;
  border: 2px solid #3f414b;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.posts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 30px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 50px;
}

input {
  padding: 10px;
  width: 400px;
}

.checkbox input,
.buttons {
  width: 30px;
}

.shared {
  text-align: center;
  margin: 19px auto;
}
